body{ 
    font-family: Arial, sans-serif; 
    padding: 70px;
    background-color: lightcoral;

}
h1 { 
    background-color:darkgoldenrod; 
    color: rgba(255, 255, 255, 0.589); 
    padding: 10px 0; 
    text-align: center; 
    width: 500px;
    border-radius: 70px 2px 70px 2px;
  
}
.name { 
    background: #DEB887; 
    padding: 10px 0; 
    position: sticky; 
    top: 0; 
    color:darkred;
    width: 180px;
}
.container { 
    position: relative; 
}
 .sidebar {
    position:static;
    top: 20px; 
    left: 20px; 
    width: 200px; 
    }
 .main-content {
    margin-left: 220px;
    padding: 20px; 
    }
.promo {
    position: relative; 
    background: #F5F5DC; 
    padding: 10px; 
    margin-top: 20px; 
    }
.promo:before { 
    content: 'Special Offer!'; 
    position: absolute;
    top: -20px; 
    left: 10px; 
    font-weight: bold; 
}





