body{ 
    font-family: Arial, sans-serif; 
}
h1 { 
    background-color:rgb(157, 115, 8); 
    color: rgba(218, 229, 9, 0.841); 
    padding: 10px 0; 
    text-align: center; 
   }
.name { 
    background: #DEB887; 
    padding: 20px 0; 
    position: sticky; 
    top: 0; 
    margin-left: 650px;
    text-align: center;
    color:darkred;
    width: 180px;
}
.container { 
    position: relative; 
    margin-left:350px;
}
 .sidebar {
    position:static;
    top: 20px; 
    left: 20px; 
    }
 .main-content {
    margin-left:130px;
    padding: 40px; 
    }
.promo {
    position: relative; 
   
    padding: 10px; 
    margin-top: 20px; 
    }
.promo:before { 
    content: 'Special Offer!'; 
    position: absolute;
    top: -20px; 
    left: 10px; 
    font-weight: bold; 
}
footer {
    background: #b06311; 
    color: white; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center; 
    padding: 5px 0; 
   
    }





